@model EquipmentStore.Web.Models.PumpCategoryViewModel

@{
    ViewBag.Title = Model.Name;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Категория насосов - @Model.Name</h3>
    </div>

    <div class="panel-body">
        @if (Model.Pumps.Count == 0)
        {
            <p>Каталог насосов для выбранной категории пуст</p>
        }
        else
        {
            <table class="table table-striped table-bordered">
                <tr>
                    <th style="width:10%;">ID</th>
                    <th style="width:20%;">Название</th>
                    <th style="width:30%;">Картинка</th>
                    <th style="width:40%;">Действия</th>
                </tr>

                @foreach (var pump in Model.Pumps)
                {
                    string imageSource = null;

                    if (pump.PumpImage != null)
                    {
                        var base64 = Convert.ToBase64String(pump.PumpImage.Data);
                        imageSource = $"data:{pump.PumpImage.MimeType};base64,{base64}";
                    }

                    <tr>
                        <td>@pump.Id</td>
                        <td>@pump.Name</td>
                        <td><img src="@imageSource" style="width: 320px; height: 240px;" alt="@pump.Name" /></td>
                        <td>
                            <p>
                                @Html.ActionLink("Изменить", "Update", "Pump", new { id = pump.Id }, new { @class = "btn btn-default" })
                            </p>

                            <p>
                                @using (Html.BeginForm("Delete", "Pump", new { id = pump.Id }))
                                {
                                    <input type="submit" class="btn btn-danger" value="Удалить" />
                                }
                            </p>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>

    <div class="panel-footer">
        <p>
            @Html.ActionLink("Добавить новый насос", "Create", "Pump", new { categoryId = Model.Id }, new { @class = "btn btn-default" })
        </p>

        <p>
            @Html.ActionLink("Назад", "Index", "Admin", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>