@using EquipmentStore.Web.Models.Enums
@model EquipmentStore.Web.Models.FeedbackViewModel

@{
	ViewBag.Title = "Контакты";
}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-lg-6">
				<h2>Наши контакты</h2>
			</div>
			<div class="col-lg-6">
				<h2>Обратная связь</h2>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-6">
				<b>Адрес:</b>
				<p>
					62300, Харьковская область,<br />
					Дергачевский район, г. Дергачи,<br />
					ул. Леонова, 1, корпус А-2
				</p>

				<b>Телефон:</b>
				<p>
					+380506332633,<br />
					+380509353384
				</p>

				<b>Email:</b>
				<p>
					y.novoselov17@gmail.com
				</p>
			</div>
			<div class="col-lg-6">
				@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
				{
					<b>
						@Html.LabelFor(m => m.Name)
					</b>
					<p>
						@Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Ваше имя" })
						@Html.ValidationMessageFor(m => m.Name)
					</p>

					<b>@Html.LabelFor(m => m.FeedbackTopic)</b>
					<p>
						@Html.EnumDropDownListFor(m => m.FeedbackTopic, new { @class = "form-control" })
					</p>

					<b>
						@Html.LabelFor(m => m.Email)
					</b>
					<p>
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Ваша электронная почта" })
						@Html.ValidationMessageFor(m => m.Email)
					</p>

					<b>
						@Html.LabelFor(m => m.Message)
					</b>
					<p>
						@Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Текст сообщения" })
						@Html.ValidationMessageFor(m => m.Message)
					</p>

					<p><button type="submit" class="btn btn-default">Отправить</button></p>
				}
			</div>
		</div>
	</div>
</div>

<div id="map" class="map" style="height:400px; width:100%;">
</div>

<script>
	function initMap() {
		var place = { lat: 50.102875, lng: 36.135065 };
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 13,
			center: place
		});
		var marker = new google.maps.Marker({
			position: place,
			map: map
		});
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD1c95y4cUC8P3cggUUm7iIy0KjyQGWf4&callback=initMap"></script>