@model EquipmentStore.Web.Models.PumpViewModel

@{
    ViewBag.Title = "Изменение насоса";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string imageSource = null;

    if (Model.PumpImage != null)
    {
        var base64 = Convert.ToBase64String(Model.PumpImage.Data);
        imageSource = $"data:{Model.PumpImage.MimeType};base64,{base64}";
    }
}

<div class="panel panel-default">
    @using (Html.BeginForm("Update", "Pump", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.PumpCategoryId)
            @Html.HiddenFor(m => m.PumpImage.Id)
            @Html.HiddenFor(m => m.PumpImage.Data)
            @Html.HiddenFor(m => m.PumpImage.MimeType)
            @Html.HiddenFor(m => m.PumpImage.Name)

            @Html.HiddenFor(m => m.Id)

            <b>
                @Html.LabelFor(m => m.Name)
            </b>
            <p>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </p>

            <b>
                @Html.LabelFor(m => m.ShortDescription)
            </b>
            <p>
                @Html.TextAreaFor(m => m.ShortDescription, 2, 1, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ShortDescription)
            </p>

            <b>
                @Html.LabelFor(m => m.Characteristics)
            </b>
            <p>
                @Html.TextAreaFor(m => m.Characteristics, 7, 1, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Characteristics)
            </p>

            <b>
                @Html.LabelFor(m => m.Heads)
            </b>
            <p>
                @Html.TextBoxFor(m => m.Heads, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Heads)
            </p>

            <b>
                @Html.LabelFor(m => m.Tubes)
            </b>
            <p>
                @Html.TextBoxFor(m => m.Tubes, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Tubes)
            </p>

            <b>
                @Html.LabelFor(m => m.Costs)
            </b>
            <p>
                @Html.TextBoxFor(m => m.Costs, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Costs)
            </p>

            <b>
                @Html.LabelFor(m => m.Weight)
            </b>
            <p>
                @Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Weight)
            </p>

            @if (Model.PumpImage != null)
            {
                <b>
                    @Html.LabelFor(m => m.PumpImage)
                </b>
                <p>
                    <img src="@imageSource" class="img-responsive" />
                </p>
            }
            <b>
                @Html.LabelFor(m => m.ImageInput)
            </b>
            <p>
                @Html.TextBoxFor(m => m.ImageInput, new { type = "file", style = "width: 100%" })
                @Html.ValidationMessageFor(m => m.ImageInput)
            </p>
        </div>

        <div class="panel-footer">
            <p>
                <button type="submit" class="btn btn-default">Изменить</button>
            </p>

            <p>
                @Html.ActionLink("Назад", "Index", "Admin", null, new { @class = "btn btn-default" })
            </p>
        </div>
    }
</div>

