@model List<EquipmentStore.Web.Models.PumpViewModel>

@{
    ViewBag.Title = Model.First()?.PumpCategory.Name ?? "Насосы";
}

<div class="row">
    @foreach (var pump in Model)
    {
        string imageSource = null;

        if (pump != null)
        {
            var base64 = Convert.ToBase64String(pump.PumpImage.Data);
            imageSource = $"data:{pump.PumpImage.MimeType};base64,{base64}";
        }

        <div class="col-lg-6 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>@pump.Name</h5>
                </div>

                <div class="panel-body">
                    <img src="@imageSource" class="img-responsive" alt="@pump.Name" />
                </div>

                <div class="panel-footer">
                    <p>@pump.ShortDescription</p>
                    <p>@Html.ActionLink("Узнать больше", "UserRead", "Pump", new { id = pump.Id }, new { @class = "btn btn-default" })</p>
                </div>
            </div>
        </div>
    }
</div>