@model EquipmentStore.Web.Models.PumpViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string imageSource = null;

    if (Model.PumpImage != null)
    {
        var base64 = Convert.ToBase64String(Model.PumpImage.Data);
        imageSource = $"data:{Model.PumpImage.MimeType};base64,{base64}";
    }
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-center">@Model.Name</h4>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-5">
                @if (Model.PumpImage != null)
                {
                    <p>
                        <img src="@imageSource" class="img-responsive" alt="@Model.Name" />
                    </p>
                }
            </div>

            <div class="col-lg-7">
                <h4 class="text-center">Технические данные</h4>
                <p><span style="white-space: pre-line">@Model.Characteristics</span></p>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <table class="table table-striped table-bordered">
            <tr>
                <th class="text-center">Модель</th>
                <th class="text-center">Используемые головки</th>
                <th class="text-center">Используемые трубки</th>
                <th class="text-center">Диапазон расходов, мл/мин</th>
                <th class="text-center">Вес, кг</th>
            </tr>
            <tr>
                <td rowspan="4">@Html.DisplayFor(m => m.Name)</td>
                <td>@Html.DisplayFor(m => m.Heads)</td>
                <td>@Html.DisplayFor(m => m.Tubes)</td>
                <td>@Html.DisplayFor(m => m.Costs)</td>
                <td>@Html.DisplayFor(m => m.Weight)</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(m => m.Heads2)</td>
                <td>@Html.DisplayFor(m => m.Tubes2)</td>
                <td>@Html.DisplayFor(m => m.Costs2)</td>
                <td>@Html.DisplayFor(m => m.Weight2)</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(m => m.Heads3)</td>
                <td>@Html.DisplayFor(m => m.Tubes3)</td>
                <td>@Html.DisplayFor(m => m.Costs3)</td>
                <td>@Html.DisplayFor(m => m.Weight3)</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(m => m.Heads4)</td>
                <td>@Html.DisplayFor(m => m.Tubes4)</td>
                <td>@Html.DisplayFor(m => m.Costs4)</td>
                <td>@Html.DisplayFor(m => m.Weight4)</td>
            </tr>
        </table>
    </div>
</div>
