@using EquipmentStore.Core.Enums

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Продажа, монтаж и сервисное обслуживание автоматического термоформовочного упаковочного оборудования, линий фасовки и упаковки продукции в полимерную тару с последующей этикеровкой, а также дозаторов различного принципа действия.">
    <meta name="keywords" content="дозаторы, термоформовочное оборудование, упаковочное оборудование, ампулы, фасовка, упаковка, пластиковые контейнеры">
    <title>@ViewBag.Title - Автоматическое термоформовочное упаковочное оборудование. Дозаторы и ампулы.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="content">
        <div class="content-inside">
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("НОВФИЛПАК", "Index", "Home", null, new { @class = "navbar-brand" })
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("О Нас", "Index", "Home", null, new { style = "font-size: 20px;" })</li>
                            <li class="dropdown equipment-dropdown">
                                <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                                    <span style="font-size: 20px;">Каталог оборудования <span class="caret"></span></span>
                                </a>
                                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">
                                            Автоматическое термоформовочное <br />
                                            упаковочное оборудование
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href=@Url.Action("ReadCategory", "Machine", new { categoryName = EquipmentCategory.WithHorizontalBlisterFormsLocation.ToString() })>
                                                    С горизонтальным расположением форм
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href=@Url.Action("ReadCategory", "Machine", new { categoryName = EquipmentCategory.WithVerticalBlisterFormsLocation.ToString() })>
                                                    С вертикальным расположением форм
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="divider"></li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">
                                            Перистальтические насосы<br />
                                            и дозаторы
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href=@Url.Action("ReadCategory", "Machine", new { categoryName = EquipmentCategory.PeristalticPumps.ToString() })>
                                                    Перистальтические <br />
                                                    насосы
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href=@Url.Action("ReadCategory", "Machine", new { categoryName = EquipmentCategory.PeristalticDispensers.ToString() })>
                                                    Перистальтические <br />
                                                    дозаторы
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="divider"></li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Этикетировочное оборудование</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href=@Url.Action("ReadCategory", "Machine", new { categoryName = EquipmentCategory.AutomaticLabelingEquipment.ToString() })>
                                                    Автоматическое этикетировочное <br />
                                                    оборудование
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href=@Url.Action("ReadCategory", "Machine", new { categoryName = EquipmentCategory.SemiAutomaticLabelingEquipment.ToString() })>
                                                    Полуавтоматическое этикетировочное <br />
                                                    оборудование
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="divider"></li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Машины розлива и укупорки</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href=@Url.Action("ReadCategory", "Machine", new { categoryName = EquipmentCategory.LinearFillingMachines.ToString() })>
                                                    Линейные машины <br />
                                                    розлива
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href=@Url.Action("ReadCategory", "Machine", new { categoryName = EquipmentCategory.SemiAutomaticFillingMachines.ToString() })>
                                                    Полуавтоматы розлива
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href=@Url.Action("ReadCategory", "Machine", new { categoryName = EquipmentCategory.MonoblocksForBottlingAndCapping.ToString() })>
                                                    Моноблоки розлива <br />
                                                    и укупорки
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href=@Url.Action("ReadCategory", "Machine", new { categoryName = EquipmentCategory.CappingMachines.ToString() })>
                                                    Укупорочные машины
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="divider"></li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Тубонаполнительное оборудование</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href=@Url.Action("ReadCategory", "Machine", new { categoryName = EquipmentCategory.TubeFillingEquipmentForPlasticTubes.ToString() })>
                                                    Тубонаполнительное оборудование <br />
                                                    для пластиковых туб
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href=@Url.Action("ReadCategory", "Machine", new { categoryName = EquipmentCategory.TubeFillingEquipmentForAluminumTubes.ToString() })>
                                                    Тубонаполнительное оборудование <br />
                                                    для алюминевых туб
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href=@Url.Action("ReadCategory", "Machine", new { categoryName = EquipmentCategory.SemiAutomaticTubeFillingEquipment.ToString() })>
                                                    Полуавтоматическое тубонаполнительное<br />
                                                    оборудование
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href=@Url.Action("ReadCategory", "Machine", new { categoryName = EquipmentCategory.EquipmentForProductionOfTabletsAndFillingCapsules.ToString() })>
                                            Оборудование для производства<br />
                                            таблеток и наполнения капсул
                                        </a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href=@Url.Action("ReadCategory", "Machine", new { categoryName = EquipmentCategory.CartoningMachines.ToString() })>
                                            Картонажные машины
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Услуги", "ReadAll", "Labour", null, new { style = "font-size: 20px;" })</li>
                            <li>@Html.ActionLink("Производство", "ReadAll", "Output", null, new { style = "font-size: 20px;" })</li>
                            <li>@Html.ActionLink("Контакты", "Contact", "Home", null, new { style = "font-size: 20px;" })</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Error"]
                    </div>
                }

                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Message"]
                    </div>
                }

                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <p>
                        <span class="glyphicon glyphicon-flag"></span> Адрес:
                    </p>
                    <p>62300, Харьковская область, Дергачевский район</p>
                    <p>г. Дергачи, ул. Леонова, 1, корпус А-2</p>
                </div>

                <div class="col-xs-4">
                    <p>
                        <span class="glyphicon glyphicon-phone-alt"></span> Контакты:
                    </p>
                    <p>+38-050-633-2-633, +38-095-100-83-27</p>
                    <p>y.novoselov17@gmail.com</p>
                </div>

                <div class="col-xs-4">
                    <p>Все права защищены novfilpack.com.ua&copy; @DateTime.Now.Year</p>
                    <p>This website is created by maxon_adc</p>
                    <p>
                        Icons made by Freepik from <a href="http://www.flaticon.com/">www.flaticon.com</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Site.js"></script>
</body>
</html>
