@model EquipmentStore.Web.Models.MachineViewModel

@{
	ViewBag.Title = "Добавление нового оборудования";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Machine", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.HiddenFor(m => m.Id)

	<b>
		@Html.LabelFor(m => m.Name)
	</b>
	<p>
		@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Name)
	</p>

	<b>
		@Html.LabelFor(m => m.ShortDescription)
	</b>
	<p>
		@Html.TextAreaFor(m => m.ShortDescription, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.ShortDescription)
	</p>

	<b>
		@Html.LabelFor(m => m.LongDescription)
	</b>
	<p>
		@Html.TextAreaFor(m => m.LongDescription, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.LongDescription)
	</p>

	<b>
		@Html.LabelFor(m => m.ImageInput)
	</b>
	<p>
		@Html.TextBoxFor(m => m.ImageInput, new { type = "file", style = "width: 100%" })
		@Html.ValidationMessageFor(m => m.ImageInput)
	</p>

	<b>
		@Html.LabelFor(m => m.CuttingFrequency)
	</b>
	<p>
		@Html.TextBoxFor(m => m.CuttingFrequency, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.CuttingFrequency)
	</p>

	<b>
		@Html.LabelFor(m => m.MaximumPackageSize)
	</b>
	<p>
		@Html.TextBoxFor(m => m.MaximumPackageSize, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.MaximumPackageSize)
	</p>

	<b>
		@Html.LabelFor(m => m.MaxMoldingDepth)
	</b>
	<p>
		@Html.TextBoxFor(m => m.MaxMoldingDepth, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.MaxMoldingDepth)
	</p>

	<b>
		@Html.LabelFor(m => m.PackageMaterial)
	</b>
	<p>
		@Html.TextBoxFor(m => m.PackageMaterial, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.PackageMaterial)
	</p>

	<b>
		@Html.LabelFor(m => m.Voltage)
	</b>
	<p>
		@Html.TextBoxFor(m => m.Voltage, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Voltage)
	</p>

	<b>
		@Html.LabelFor(m => m.Size)
	</b>
	<p>
		@Html.TextBoxFor(m => m.Size, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Size)
	</p>

	<b>
		@Html.LabelFor(m => m.Weight)
	</b>
	<p>
		@Html.TextBoxFor(m => m.Weight, new { @class = "form-control", type = "nubmer", step = "50", min = "0" })
		@Html.ValidationMessageFor(m => m.Weight)
	</p>

	<p>
		<button type="submit" class="btn btn-success">Добавить</button>
	</p>

	<p>
		@Html.ActionLink("Назад", "Index", "Admin", null, new { @class = "btn btn-default" })
	</p>
}