@model EquipmentStore.Web.Models.MachineViewModel

@{
	ViewBag.Title = Model.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";

	string imageSource = null;

	if (Model.ImageData != null)
	{
		var base64 = Convert.ToBase64String(Model.ImageData.Data);
		imageSource = $"data:{Model.ImageData.MimeType};base64,{base64}";
	}
}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="text-center">@Model.Name</h3>
	</div>
	
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-5">
				@if (Model.ImageData != null)
				{
					<p>
						<img src="@imageSource" class="img-responsive" alt="@Model.Name" />
					</p>
				}
			</div>
			
			<div class="col-lg-7">
				<h4 class="text-center">Описание</h4>
				<p>@Model.LongDescription</p>
			</div>
		</div>
	</div>
	
	<div class="panel-footer">
		<h4 class="text-center">Технические характеристики</h4>

		<table class="table table-striped table-bordered">
			@if (Model.CuttingFrequency != null)
			{
				<tr>
					<td>@Html.LabelFor(m => m.CuttingFrequency)</td>
					<td>@Html.DisplayFor(m => m.CuttingFrequency)</td>
				</tr>
			}

			@if (Model.MaxMoldingDepth != null)
			{
				<tr>
					<td>@Html.LabelFor(m => m.MaxMoldingDepth)</td>
					<td>@Html.DisplayFor(m => m.MaxMoldingDepth)</td>
				</tr>
			}

			@if (Model.PackageMaterial != null)
			{
				<tr>
					<td>@Html.LabelFor(m => m.PackageMaterial)</td>
					<td>@Html.DisplayFor(m => m.PackageMaterial)</td>
				</tr>
			}
	
			@if (Model.MaximumPackageSize != null)
			{
				<tr>
					<td>@Html.LabelFor(m => m.MaximumPackageSize)</td>
					<td>@Html.DisplayFor(m => m.MaximumPackageSize)</td>
				</tr>
			}
	
			@if (Model.Voltage != null)
			{
				<tr>
					<td>@Html.LabelFor(m => m.Voltage)</td>
					<td>@Html.DisplayFor(m => m.Voltage)</td>
				</tr>
			}
	
			@if (Model.Weight != default(int))
			{
				<tr>
					<td>@Html.LabelFor(m => m.Weight)</td>
					<td>@Html.DisplayFor(m => m.Weight)</td>
				</tr>
			}
	
			@if (Model.Size != null)
			{
				<tr>
					<td>@Html.LabelFor(m => m.Size)</td>
					<td>@Html.DisplayFor(m => m.Size)</td>
				</tr>
			}
		</table>
	</div>
</div>
