@using EquipmentStore.Web.Models
@model LoginViewModel
@{
	ViewBag.Title = "Авторизация";
}

<div class="panel panel-default">
	@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
	{
		<div class="panel-heading">
			<h2>Авторизация</h2>
		</div>

		<div class="panel-body">
			@Html.AntiForgeryToken()

			<b>@Html.LabelFor(m => m.Email)</b>
			<p>
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Email)
			</p>

			<b>@Html.LabelFor(m => m.Password)</b>
			<p>
				@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Password)
			</p>

			<p>
				@Html.CheckBoxFor(m => m.RememberMe)
				<b>@Html.LabelFor(m => m.RememberMe)</b>
			</p>
		</div>

		<div class="panel-footer">
			<button type="submit" class="btn btn-default">Войти</button>
		</div>
	}
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}