@model EquipmentStore.Web.Models.LabourViewModel

@{
	ViewBag.Title = "Добавление новой услуги";
}

@using (Html.BeginForm("Create", "Labour", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.HiddenFor(m => m.Id)

	<b>
		@Html.LabelFor(m => m.Name)
	</b>
	<p>
		@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Name)
	</p>

	<b>
		@Html.LabelFor(m => m.ShortDescription)
	</b>
	<p>
		@Html.TextAreaFor(m => m.ShortDescription, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.ShortDescription)
	</p>

	<b>
		@Html.LabelFor(m => m.LongDescription)
	</b>
	<p>
		@Html.TextAreaFor(m => m.LongDescription, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.LongDescription)
	</p>

	<b>
		@Html.LabelFor(m => m.ImageInput)
	</b>
	<p>
		@Html.TextBoxFor(m => m.ImageInput, new { type = "file", style = "width: 100%" })
		@Html.ValidationMessageFor(m => m.ImageInput)
	</p>

	<p>
		<button type="submit" class="btn btn-primary">Добавить</button>
	</p>

	<p>
		@Html.ActionLink("Назад", "Index", "Admin", null, new { @class = "btn btn-default" })
	</p>
}